.bordered-image {
  border-radius: 50%;
  background: #0a1931;
  position: relative;
  width: 0%;
  height: 0%;

  &__image-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 50%;
    width: 85%;
    padding-bottom: 85%;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
