.follower {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 15px;

  &__link {
    color: black;
    text-decoration: none;
  }

  &__username {
    font-size: 20px;
    padding-left: 10px;
  }
}
