.login-page {
  height: 100vh;
  overflow: scroll;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: inherit;
    padding: 90px 16px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    min-width: 300px;
    width: 100%;
  }

  &__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 4rem;
    font-weight: 900;
    margin: 0;
    color: #0a1931;
  }
}
