.button {
  width: 335px;
  box-sizing: border-box;
  padding: 16px 110px;

  border: none;
  border-radius: 40px;

  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;

  &__primary {
    background-color: var(--page-light-green);

    &:disabled {
      background-color: #9fb78c;
    }

    &:active {
      background-color: var(--page-dark-green);
    }
  }

  &__secondary {
    background-color: #003c5f;

    &:active {
      background-color: #002c46;
    }
  }

  &__third {
    background-color: rgb(163, 15, 15);

    &:active {
      background-color: rgb(112, 9, 9);
    }
  }
}
