.profile {
  width: 335px;
  padding: 30px 20px 10px 20px;

  &__username {
    font-size: 30px;
    padding-bottom: 10px;
    word-break: break-all;
  }

  &__inner {
    display: flex;
    padding-bottom: 20px;
  }

  &__info {
    font-weight: 500;
    text-align: center;
    white-space: pre;
    padding-left: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__link {
    color: black;
    text-decoration: none;
  }

  &__info-item {
    &-wrapper {
      display: flex;
      align-items: flex-end;
    }

    &-smile {
      padding-left: 2px;
    }
  }

  &__buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
