.edit-profile-page {
  padding: 15px 10px 70px 10px;

  &__title {
    font-size: 1.5rem;
    padding-bottom: 15px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    width: 355px;
    margin: 0 auto;
  }

  &__username-wrapper {
    padding: 20px 0;
    display: flex;
    width: 100%;
  }

  &__dog-icon {
    font-size: 36px;
    border-bottom: 3px solid black;
  }

  &__username-input {
    font-family: inherit;
    font-weight: 800;
    font-size: 36px;
    border: none;
    background-color: inherit;
    border-bottom: 3px solid black;
    width: 100%;
  }

  &__username-input:focus {
    outline: none;
  }
}
