.comment {
  padding: 5px 0 15px 0;

  &__inner {
    padding: 0 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    &-info {
      display: flex;
      align-items: center;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
  }

  &__author {
    font-size: 15px;
    padding-left: 8px;
  }

  &__time {
    font-size: 12px;
    color: #0a193180;
    padding-left: 8px;
  }

  &__text {
    font-size: 14px;
    word-break: break-word;
  }

  &__to-post {
    font-size: 12px;
    &-icon {
      padding-left: 8px;
    }
  }
}
