.publish-post-page {
  padding: 15px 10px 80px 10px;

  &__header-text {
    font-size: 1.5rem;
    padding-bottom: 15px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 15px 10px;
    overflow-wrap: break-word;
    width: 335px;
    margin: 0 auto;
  }

  &__input-field {
    width: 100%;
    padding: 0;
    border: 0;
    resize: none;
  }

  &__input-field:focus {
    outline: none;
  }
}
