@keyframes dote-animation {
  33% {
    content: "..";
  }

  66% {
    content: "...";
  }
}

.loading-element:last-child::after {
  display: inline-block;
  content: ".";
  animation-name: dote-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
