.comment-form {
  position: sticky;
  bottom: 71px;
  z-index: 100;

  height: 40px;
  border-top: 1px solid #f0f0f0;
  background-color: white;

  display: flex;
  align-items: center;

  &__input {
    height: 16px;
    width: 100%;

    padding: 0;
    border: none;
    resize: none;

    font-size: 14px;
    font-weight: 400;

    &:focus {
      outline: none;
    }
  }

  &__post-button {
    background-color: inherit;
    border: none;
    padding: 0;
    height: 16px;
  }

  &__post-icon {
    cursor: pointer;
  }
}
