.explore-page {
  padding: 15px 10px 70px 10px;

  &__title {
    font-size: 30px;
    padding-bottom: 15px;
  }

  &__post-list {
    width: 355px;
    margin: 0 auto;
    padding-bottom: 10px;
  }
}
