.post {
  width: 335px;
  border-radius: 20px;
  padding: 15px 10px;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 10px;

  &__top {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  &__link {
    text-decoration: none;
  }

  &__username {
    font-size: 1.25rem;
    color: #0a1931;
  }

  &__image-wrapper {
    position: relative;
    width: 335px;
    height: 335px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    overflow: hidden;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__text {
    font-size: 0.9rem;
    color: black;
    overflow-wrap: break-word;
  }

  &__date {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 300;
    color: #787878;
  }

  &-reaction {
    &__inner {
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
    &__block {
      display: flex;
      justify-content: space-around;
      border-top: 1px solid #e5e5e5;
      padding-top: 13px;
    }
    &__text {
      font-size: 1rem;
      font-weight: 500;
      color: black;
    }
  }
}
