.nav-bar {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
