.upload-image {
  &__image-wrapper {
    position: relative;
    width: 335px;
    height: 335px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    overflow: hidden;
  }

  &__upload-text {
    font-weight: 500;
    font-size: 1rem;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
