.comments-page {
    background-color: white;
    width: 355px;
    border-radius: 20px;
    margin: 15px auto 80px auto;
    padding: 15px 0 5px;
  
    &__title {
      font-size: 24px;
      width: fit-content;
      margin: 0 auto;
      padding-bottom: 15px;
    }
  
    &__no-followers {
      padding: 0 15px 15px;
      text-align: center;
      word-break: break-word;
    }
  }
  